<div ng-hide="profile">
    <div class="row">
        <button class="col-xs-4 pull-left" ng-click="changeView('')">Back to main screen</button>
    </div>
    <div class="row" ng-repeat="profile in profiles">
        <button class="col-xs-10 profileBtn" ng-click="makeActive(profile)">{{profile.name}}</button>
        <button class="col-xs-1 profileBtn" ng-click="editProfile(profile)"><i class="fa fa-wrench"></i></button>
        <button class="col-xs-1 profileBtn" ng-click="deleteProfile(profile)"><i class="fa fa-trash"></i></button>
    </div>
    
    <form ng-submit="addProfile()">
        <div class="col-xs-8">
            <input ng-model="newName" class="form-control" type="text" />
        </div>
        <div class="col-xs-4">
            <input type="submit" class="form-control" value="Add profile" />
        </div>
    </form>
</div>
<div ng-show="profile">
    <div class="row">
        <button class="col-xs-4 pull-left" ng-click="profile=null">Leave without saving</button>
        <button class="col-xs-4 pull-right" ng-click="makeActive()">Save and activate</button>
    </div>
    <h1>{{profile.name}}</h1>
    <h2>{{getDay()}}</h2>
    <div class="day-graph">
        <ul class="day-graph-labels-left">
            <li class="day-graph-labels-left-top">30&deg;</li
            ><li class="day-graph-labels-left-middle">20&deg;</li
            ><li class="day-graph-labels-left-bottom">10&deg;</li>
        </ul>
        <hr class="day-graph-bar day-graph-bar-top" />
        <hr class="day-graph-bar day-graph-bar-middle" />
        <hr class="day-graph-bar day-graph-bar-bottom" />
        <ul class="day-graph-labels-bottom">
            <li>00</li
            ><li>01</li
            ><li>02</li
            ><li>03</li
            ><li>04</li
            ><li>05</li
            ><li>06</li
            ><li>07</li
            ><li>08</li
            ><li>09</li
            ><li>10</li
            ><li>11</li
            ><li>12</li
            ><li>13</li
            ><li>14</li
            ><li>15</li
            ><li>16</li
            ><li>17</li
            ><li>18</li
            ><li>19</li
            ><li>20</li
            ><li>21</li
            ><li>22</li
            ><li>23</li>
        </ul>
        <ul class="day-graph-bars">
            <li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li
            ><li>10</li>
        </ul>
    </div>
    <div class="row day-arrows">
        <div class="col-xs-1">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="col-xs-10 text-center">
            Time
        </div>
        <div class="col-xs-1 text-right">
            <i class="fa fa-arrow-right"></i>
        </div>
    </div>
</div>