<div class="col-xs-12 col-md-6">
    <h1>Friday 18 December 2015</h1>
    <h2 class="current-temp-heading">Current temperature</h2>
    <span class="current-temp"><span class="current-temp-value">{{sensorData.temp}}</span>&deg;</span>
    <span class="current-temp-unit">C</span>
</div>
<div class="col-xs-12 col-md-6">
    <h3>Edinburgh 13&deg;C</h3>
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-sun-o" style="font-size:20vh;"></i>
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled" style="font-size:3.6vh">
                <li>High 13&deg;C</li>
                <li>Low 13&deg;C</li>
                <li>Sunrise 08:39</li>
                <li>Sunset 15:40</li>
            </ul>
        </div>
    </div>
    <div class="row overrides">
        <h3>Target temperature</h3>
        <div class="col-xs-10">
            <span class="target-temp"><span class="target-temp-value">20</span>&deg;</span>
            <span class="target-temp-unit">C</span>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <i class="fa fa-arrow-up"></i>
            </div>
            <div class="row">
                <i class="fa fa-arrow-down"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <button ng-click="changeView('profiles')"><i class="fa fa-tasks"></i> Profiles</button>
        <button><i class="fa fa-power-off"></i> Turn off</button>
    </div>
</div>