<div class="col-xs-12 col-md-6">
    <h1>{{formatDate()}}</h1>
    <h2 class="current-temp-heading">Current temperature</h2>
    <span class="current-temp"><span class="current-temp-value">{{sensorData.temp}}</span>&deg;</span>
    <span class="current-temp-unit">C</span>
</div>
<div class="col-xs-12 col-md-6">
    <h3>Edinburgh {{weatherData.temp}}&deg;C</h3>
    <div class="row">
        <div class="col-xs-4">
            <i class="fa fa-cloud" style="font-size:20vh;"></i>
        </div>
        <div class="col-xs-8">
            <ul class="list-unstyled" style="font-size:3.6vh">
                <li>High: {{weatherData.maxTemp}}&deg;C</li>
                <li>Low: {{weatherData.minTemp}}&deg;C</li>
                <li>Pressure: {{weatherData.pressure}} hPa</li>
                <li>Sunrise: {{weatherData.sunrise | date: 'hh:mm'}}</li>
                <li>Sunset: {{weatherData.sunset | date: 'hh:mm'}}</li>
            </ul>
        </div>
    </div>
    <div class="row overrides">
        <h3>Target temperature</h3>
        <div class="col-xs-10">
            <span class="target-temp">
                <span class="target-temp-value" ng-model="targetTemperature" ng-init="targetTemperature = 20">{{targetTemperature}}</span>&deg;
            </span>
            <span class="target-temp-unit">C</span>
        </div>
        <div class="col-xs-2">
            <div class="row">
                <i class="fa fa-arrow-up" ng-click="setTemperature(targetTemperature + 1)"></i>
            </div>
            <div class="row">
                <i class="fa fa-arrow-down" ng-click="setTemperature(targetTemperature - 1)"></i>
            </div>
        </div>
    </div>
    <div class="row">
        <button ng-click="changeView('profiles')"><i class="fa fa-tasks"></i> Profiles</button>
        <button><i class="fa fa-power-off"></i> Turn off</button>
    </div>
</div>